@model System.Collections.Generic.List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <ul>
                @foreach  (var message in Model)
                {
                    <li>@message</li>    
                }
            </ul>
        </div>
    </body>
</html>